<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ethereum Transfer Web</title>
</head>

<body>
    <script type="text/javascript">
        function checkSelect() {
            var selectx = document.forms["selectForm"]["options"].value;
            if (isNaN(selectx) || selectx == "") {
                alert("Please select your recipient address[#]");
                return false;
            }
        }
    </script>
    <h3>Welcome to Ether Transfer Recipient Web</h3>
    <h1>Selected Principle Account Name: {{ value0 }}</h1>
    <h1>Please select your recipient address[#]</h1>
    <form name="selectForm" action="/sendEther" method="post" onsubmit="return checkSelect()">
        {% for i in range(value2-1): %}
        <p>
            <input type="radio" name="options" id="option" value={{value1[0][i]}}>{{[i+1]}} Balance of {{ value1[0][i] }} , ETHER: {{ value1[1][i] }} = USD: {{ value1[2][i] }} <br>
        </p>
        {% endfor %}
        <p><input type=submit value=Select></p>
    </form>
    <h1>{{ value1 }}</h1>
    <!-- <h3>Previous Greeting: </h3>    
    <h3>Output Greeting: </h3>    
    <a href="{{ url_for('index') }}">Go back</a> -->
</body>

</html>