<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ethereum Transfer Web</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>	
</head>

<body>
    <script type="text/javascript">
        function checkSelect() {
            var selectx = document.forms["selectForm"]["principle"].value;
            if (isNaN(selectx) || selectx == "") {
                alert("Please select your principle address[#]");
                return false;
            }
        }
    </script>
    <h3>Welcome to Ether Transfer Principle Web</h3>
    <h1>Select your principle address[#]</h1>
    <form name="selectForm" action="/selectPrincipalData" method="post" onsubmit="return checkSelect()">
        {% for i in range(value1): %}
        <p>
            <input type="radio" name="principle" id="option" value={{value0[0][i]}}>{{[i+1]}} Account Address: {{ value0[0][i] }} , ETHER: {{ value0[1][i] }} = USD: {{ value0[2][i] }} <br>
        </p>
        {% endfor %}
        <p><input type=submit value=Select></p>
        <br>
        {% for message in get_flashed_messages(category_filter=['results']) %}
        <p>{{ message }}</p> {% endfor %}
    </form>
</body>

</html>