<!DOCTYPE html>
<html>
<body>
    <script type="text/javascript">
        function export_privateKey(account_name, account_key) {
            alert("Public address: " + account_name + "\nPrivate Key:\n" + account_key);
        }
    </script>    
    <p>This is the current selected account</p>                    
    <p>Public address: {{ value0 }}</p>
     <p>Private Key: {{ value1 }}</p>
    <p>Warning: Never disclose this key. Anyone with your private key can fully control your account, including transferring away any of your funds.</p>
    <!-- <input type=submit value="Export Private Key" onClick="export_privateKey('{{ value0 }}', '{{ value1 }}')">             -->           
</body>
</html>


