<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ethereum Transfer Web</title>
</head>

<body>
    <script type="text/javascript">
        function checkSelect() {
            var selectx = document.forms["selectForm"]["recipient"].value;
            if (isNaN(selectx) || selectx == "") {
                alert("Please select your recipient address[#]");
                return false;
            }
        }
    </script>
    <h3>Welcome to Ether Transfer Recipient Web</h3>
    <h1>Selected Principle Account Address: <img src="{{url_for('static', filename='images/'+value0+'.png')}}" align="middle" /> {{ value0 }} <img src="{{url_for('static', filename='images/'+value0+'_qrcode.png')}}" align="middle" /></h1>
    <h1>Please select your recipient address[#]</h1>
    <form name="selectForm" action="/sendEther" method="post" onsubmit="return checkSelect()">
        {% for i in range(value2): %}
        <p>
            <input type="radio" name="recipient" id="option" value={{value1[0][i]}}>{{[i+1]}} Balance of {{ value1[0][i] }} , ETHER: {{ value1[1][i] }} = USD: {{ value1[2][i] }} <br>
        </p>
        {% endfor %}
        <p><input type=submit value=Select></p>
    </form>
    <a href="{{ url_for('index') }}">Go back to Main</a>
</body>

</html>